{% extends 'base.html' %}

{% block title %}Books{% endblock title %}

{% block content %}
    <h2 class='mb-3'>Book list page</h2>

        {% if books %}
                {% for book in books %}
                <div class="row mb-3">
                    <div class="col-2">
                        <img src="{{ book.cover_picture.url }}" alt="Book cover photo" class="img-fluid">
                    </div>
                    <div class="col-8">
                        <h4><a href="{% url 'book_detail' book.id %}">{{ book.title }}</a></h4>
                        <p>{{ book.description | slice:400 }}</p>
                    </div>
                </div>
                {% endfor %}
        {% else %}
        <p>No books found.</p>
    {% endif %}
{% endblock content %}